<div id="teapot_summary">
  <p>
    <span id="pourer"><%= @data[:current_pourer] %></span> made
    <span id="tea_name"><%= @data[:current_tea] %></span>
    <span id="time"><%= last_filled %></span>
    <br/>
    The teapot <span id="teapot_name"><%= @data[:current_teapot] %></span> is
    <span id="percent_display"><%= percent_fill %></span>% full.
    That's <span id="cups_display"><%= cup_fill %></span>
    out of <span id="cup_capacity"><%= @data[:cup_capacity].to_i %></span> cups.
  </p>
</div>
<div id="poll_message" class='message_space'>
  <%= "It the teapot's not currently on the scale..." %>
</div>

<audio id='sound'>
  <source src="/audio/tea.mp3" type="audio/mpeg">
  <source src="/audio/tea.ogg" type="audio/ogg">
  <source src="/audio/tea.wav" type="audio/wav">
</audio>

<%= erb :_teapot, :locals =>{:percent_fill => percent_fill} %>

