<h2>Teapot Station Interface</h2>

<form>
  <p>Select Teapot in use:</p>
  <div id="teapots">
    <% teapot_names.each do |teapot| %>
        <input type="radio"
               id="<%=teapot %>"
               name="teapot"
               <%= "checked='checked'" if @data[:current_teapot] == teapot %>
        />
        <label for="<%=teapot %>"><%=teapot%></label>
    <% end %>
  </div>
  <div class='message_space' id="teapot_message"></div>
</form>
<form>
  <p>Who made the tea:</p>
  <div id="pourers">
    <% pourers.each do |pourer| %>
        <input type="radio"
               id="<%= pourer %>"
               name="pourer"
               <%= "checked='checked'" if @data[:current_pourer] == pourer %>
        />
        <label for="<%= pourer %>"><%=pourer%></label>
    <% end %>
  </div>
  <div class='message_space' id="pourer_message"></div>
</form>



<script type='text/javascript'>
  // set jquery UI controls
  jQuery('#teapots').buttonset();
  jQuery('#pourers').buttonset();
  // response to change events
  jQuery('input[name=teapot]').on('change', function(){
    jQuery.ajax({
      type: 'POST',
      cache: false,
      url: '/set_current_teapot',
      data: {current_teapot: jQuery('input[name=teapot]:checked').attr('id')},
      success: function(response){
        jQuery('#teapot_message').html(response);
      }
    });
  });

  jQuery('input[name=pourer]').on('change', function(){
      jQuery.ajax({
          type: 'POST',
          cache: false,
          url: '/set_pourer',
          data: {current_teapot: jQuery('input[name=pourer]:checked').attr('id')},
          success: function(response){
              jQuery('#pourer_message').html(response);
          }
      });
  });
</script>